<section class="main">
    <ul>
        <li><a href="/comment/">Добавить комментарий</a></li>
        <li><a href="/stat/">Просмотр статистики</a></li>
        <li><a href="/view/">Просмотр и удаление комментариев</a></li>
    </ul>
</section>