<section class="not-found">
    <p>К сожалению, ваши запросы не соответствуют нашим возможностям.</p>
    <p>Пожалуйста, приходите попозже и, возможно, мы сделаем всё, что вы пожелаете.</p>
</section>