<section class="stat">
    <figure>
        <figcaption>Регионы с количеством комментариев больше пяти:</figcaption>

        <table class="stat-table">
            <thead>
            <tr>
                <th>Город</th>
                <th>Количество комментариев</th>
            </tr>
            </thead>
            <tbody>
                ${stat_table_row}
            </tbody>
        </table>
    </figure>
</section>